<!DOCTYPE html>
<html>

<head>
    <title>Untitled</title>
    <link rel="stylesheet" type="text/css" href="vitrine.css" />
</head>

<body>
    <h1>vitrine doce!</h1>

    <h2>Cardapio</h2>

    <center><table>
       <tr>
            <td>
                <img src="choco1.jpg" /><br>
                Barra de Chocolate<br>
                R$34,98<br>
                Qtde: <input type="text" name="nome" size="5"><br>
                <button type="submit">Comprar</button>
            </td>

            <td>
                <img src="choco2.jpg" /><br>
                Barra de Chocolate 2<br>
                R$29,32<br>
                Qtde: <input type="text" name="nome" size="5"><br>
                <button type="submit">Comprar</button>
            </td>
        </tr>
        <tr>
            <td>
                <img src="choco3.jpg" /><br>
                Barra de Chocolate 3<br>
                R$52,11<br>
                Qtde: <input type="text" name="nome" size="5"><br>
                <button type="submit">Comprar</button>
            </td>

            <td>
                <img src="choco4.jpg" /><br>
                Barra de Chocolate 4<br>
                R$19,77<br>
                Qtde: <input type="text" name="nome" size="5"><br>
                <button type="submit">Comprar</button>
            </td>
        </tr>
    </table> </center>

</body>

</html>
